.vida-cristo-wrapper * {
    all: unset;
    all: revert;
    box-sizing: border-box;
}

.vida-cristo-wrapper .vida-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.vida-cristo-wrapper .etapa {
    margin-bottom: 4rem;
}

.vida-cristo-wrapper .titulo {
    white-space: pre-line;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    color: #FE9800;
    margin-bottom: 6px;
    margin-top: 20px;
}

.vida-cristo-wrapper .etapa-titulo {
    font-weight: 900;
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;
}

.vida-cristo-wrapper .periodo {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #FE9800;
    margin-bottom: 4px;
}

.vida-cristo-wrapper .linha-horizontal::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 5px;
    background: #FE9800;
    z-index: 1;
    margin-top: -5px;
}

.vida-cristo-wrapper .etapa-conteudo {
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
}

.vida-cristo-wrapper .etapa-img img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-left: 50px;
}

.vida-cristo-wrapper .etapa-resumo p {
    font-size: 19px;
    margin: 0.5rem 0;
    color: #FE9800;
    margin-right: 50px;
}

.vida-cristo-wrapper .etapa-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.vida-cristo-wrapper .frase {
    color: #FE9800;
    border: 2px solid orange;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: 20px;
}

.vida-cristo-wrapper .btn-lermais {
    background-color: orange;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s;
    display: inline-block;
}

.vida-cristo-wrapper .btn-lermais:hover {
    background-color: darkorange;
}