@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF8E8 !important; /* Cor de fundo padrão */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  font-weight: 500;
}

strong {
  font-weight: 600;
}

.cta-button {
  font-weight: 500;
}
