.site-footer {
  background-color: #fff8e8;
  color: #333;
  text-align: center;
  padding-top: 1rem;
}

.footer-banner img {
  width: 100%;
  display: block;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-logo {
  max-width: 224px;
  margin-left: 20px;
}

.footer-column h4 {
  font-weight: 900;
  margin-bottom: 10px;
  color: #FE9800;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column a {
  font-weight: 500;
  color: #FE9800;
  text-decoration: none;
}